<!Doctype html>
<html>
	<tbody>
  	<h1> Qiaoyu's Blog</h1>

    <p>
    <img width="100" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fe3kp00xhbj30fs0fs74z.jpg">
    <br>
    hello! I'm <strong> qiaoyu </strong> . And this is a blog about <em> Ruby on Rails .</em>
    </p>

    <p>Here's ranking of my favorate activities or things:
      <ol reversed>
        <li>Play the piano</li>
        <li>Coding</li>
        <li>Books</li>
        <li>Draw</li>

      </ol>
    </p>

    <!-- YouTube视频 -->

    <iframe width="200" height="#" src="https://www.youtube.com/embed/FKftDnszgIQ" frameborder="0" allowfullscreen></iframe>
    <br>

    <hr>

    <ul>
      <li>
        <a href="https://fullstack.xinshengdaxue.com/dashboard" target="_blank"> Add me </a>
      </li>
      <li>
        <a href="http://qiaoyu-blog.logdown.com" target="_blank" > Fllow me </a>
      </li>
    </ul>

  </tbody>
</html>
